<div class="card card-body p-5 mt-4">
    <h1 class="display-4">GESTION DE MEDIAS</h1>
    <p class="lead">Constrol de stock, gestion de despachos y despostes de medias reses bovinas para La Tradición
        Carnicerías</p>
    <hr class="my-4" />
    <p> Clickee la opción en la que desea trabajar y se desplegarán las distintas actividades para cada opción
    </p>
    <div class="justify-content-center">
        <div class="btn-group justify-content-center">
            <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                MEDIAS
            </button>
            <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="./media/add">Nuevo ingreso</a></li>
                    <li><a class="dropdown-item" href="#">Medias ingresadas</a></li>
                {{!-- <li><a class="dropdown-item" href="#">Something else here</a></li> --}}
            </ul>
        </div>
        <div class="btn-group">
            <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                DESPOSTE
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Nuevo desposte</a></li>
                <li><a class="dropdown-item" href="#">Grupos de cortes ingresados</a></li>
                {{!-- <li><a class="dropdown-item" href="#">Something else here</a></li> --}}
            </ul>
        </div>
        <div class="btn-group">
            <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                STOCK
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Control stock</a></li>
                {{!-- <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li> --}}
            </ul>
        </div>
        <div class="btn-group">
            <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                DESPACHOS
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Nuevo despacho</a></li>
                <li><a class="dropdown-item" href="#">Historial de despachos</a></li>
                {{!-- <li><a class="dropdown-item" href="#">Something else here</a></li> --}}
            </ul>
        </div>
        <div class="btn-group">
            <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                SUCURSALES
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Nueva sucursal</a></li>
                <li><a class="dropdown-item" href="#">Listado de sucursales</a></li>
                {{!-- <li><a class="dropdown-item" href="#">Something else here</a></li> --}}
            </ul>
        </div>
                <div class="btn-group">
            <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                GRUPOS DE CORTE
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Nuevo grupo</a></li>
                <li><a class="dropdown-item" href="#">Listado de grupos de corte</a></li>
                {{!-- <li><a class="dropdown-item" href="#">Something else here</a></li> --}}
            </ul>
        </div>


    </div>
</div>